body {
  padding: 10px;
}

h1, h2,h3 {
  text-align: center;
}
h3{
  margin-top:0px;
}
#board{
  margin: 0 auto;
}

a{
  float:right;
}
.createContainer{
  display:flex;
  justify-content:center;
  margin-bottom:10px;
}
#board td{
  border: 1px solid #ddd;
  width: 18px;
  height: 18px;
}

td.alive {
  background-color: #8CC8DD;
}

td.dead {
  background-color: #fff;
}

#control_panel {
  margin: 10px auto;
  text-align: center;
}